{# src/AppBundle/Resources/views/Visit/contact.html.twig#}

{% extends "layout.html.twig" %}

    {% block title %}
        Contact - {{ parent() }}
    {% endblock %}


    {% block body %}

        <header class="masthead text-center text-white d-flex">
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h1 class="text-uppercase">
                            <strong>Bienvenue sur la billeterie du musée du louvre</strong>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <section>

        <div class="container">
            <div class="row">

                <div class="col-lg-1">
                </div>

                <div class="col-lg-11 section-progress">
                    <div class="container">

                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item text-success font-weight-bold" style="text-decoration:underline;">CONTACTEZ-NOUS</li>
                            </ol>
                        </nav>

                        <p>Besoin d'informations avant de préparer votre visite, une question concernant votre commande en ligne... Contactez-nous
                            via le formulaire ci-dessous. Nous vous répondrons dans les plus brefs délais.</p>

                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label>Nom</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Prénom</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label>Message</label>
                                <textarea class="form-control"></textarea>
                            </div>


                            <button type="submit" class="btn btn-success">Validez</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>

        </section>

    {% endblock %}