{# src/AppBundle/Resources/views/Visit/index.html.twig#}

{% extends "layout.html.twig" %}

    {% block title %}
        Accueil - {{ parent() }}
    {% endblock %}


    {% block body %}

        <header class="masthead text-center text-white d-flex">
            <div class="container my-auto">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <h1 class="text-uppercase">
                            <strong>Bienvenue sur la billeterie du musée du louvre</strong>
                        </h1>
                    </div>
                </div>
            </div>
        </header>


        <section>
            <div class="container">
                <div class="row">

                    <div class="col-lg-1">
                    </div>


                    <div class="col-lg-11">
                        <div class="container">

                            <p>Le musée du Louvre vous accueille tous les jours, sauf les mardis et quelques jours fériés (les 1er mai, 1er novembre et 25 décembre), de 9h à 18h, jusqu'à 21h45
                                les jeudis et vendredis. La fermeture des salles débute à 17h30 et à 21h30 les jeudis et vendredis.</p>

                            <p>Pour votre visite, deux types de billets vous sont proposés :
                            <ul>
                                <li>un billet « Journée »</li>
                                <li>un billet « Demi-journée ». Il vous permet d’entrer dans l’établissement à partir de 14h.</li>
                            </ul>
                            </p>

                            <br/>

                            <p><strong>Plusieurs tarifs sont disponibles :</strong></p>

                            <table>
                                <tr>
                                    <th>Billets</th>
                                    <th>Billet journée</th>
                                    <th>Billet demi-journée*</th>
                                </tr>

                                <tr>
                                    <td>Tarif normal (à partir de 12 ans)</td>
                                    <td>16 euros</td>
                                    <td>8 euros</td>
                                </tr>

                                <tr>
                                    <td>Tarif senior (à partir de 60 ans)</td>
                                    <td>12 euros</td>
                                    <td>6 euros</td>
                                </tr>

                                <tr>
                                    <td>Tarif réduit**</td>
                                    <td>10 euros</td>
                                    <td>5 euros</td>
                                </tr>

                                <tr>
                                    <td>Tarif enfant*** (de 4 ans à 12 ans)</td>
                                    <td> 8 euros</td>
                                    <td>4 euros</td>
                                </tr>
                            </table>
                            <div class="star">(*)Entrée à partir de 14h - (**)Tarif accordé sous certaines conditions (étudiant, employé du musée, d’un service du Ministère
                                de la Culture, militaire…) - (***)Gratuit pour les enfants de moins de 4 ans</div>
                            <br/>

                            <p>Le billet acheté en ligne est nominatif. Un document d’identité peut vous
                                être demandé à votre arrivée. Il est uniquement valable pour la prestation commandée en ligne.</p>

                            <br/>
                            <div class="boutonbuy">
                            <button type="button" class="btn btn-light btn-lg"><a href="{{ path('app_visit_order') }}">Achetez vos billets</a></button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </section>


    {% endblock %}